@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a aplicação gerada com Dockerfile Multi ou seja o Dockerfile gera uma nova publicação do código 
        fonte e coloca na imagem:Sicom Demonstração usando dotnet 5.0</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
